:root {
	font-size: 16px;
	/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	--text-primary: #658ec6;
	--text-night: #ececec;
	--text-secondary: #426696;
	--text-day: #2a2e35;
	--bg-primary: #010206;
	--bg-night: #141418;
	--bg-day: rgb(121, 201, 233);
	--transition-speed: 600ms;
	--gray1: #dbe1e8;
	--gray6: #12181b;
	--gray5: #2a2e35;
}
html {
	height: 100%;
}
body {
	color: var(--text-secondary);
	background: var(--bg-primary);
	font-family: 'Montserrat', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* overflow-y: scroll; */
}

.dark {
	--text-night: #ffffff;
	--text-primary: #658ec6;
	--bg-primary: linear-gradient(to right top, #30554e, #325257);
	--bg-secondary: #141418;
}

.light {
	--text-primary: #426696;

	--text-secondary: #658ec6;
	--bg-primary: linear-gradient(to right top, #65dfc9, #6cdbeb);
	--bg-secondary: rgb(4, 184, 255);
}

.solar {
	--text-primary: #576e75;
	--text-secondary: #35535c;
	--bg-primary: #fdf6e3;
	--bg-secondary: #f5e5b8;
}

h1 {
	color: #426696;

	font-size: 3rem;
	font-weight: 400;
	opacity: 0.8;
}
.temps {
	color: #426696;
	opacity: 1;
	text-align: center;
	font-weight: 700;
}
h2,
h4,
p {
	color: #426696;

	opacity: 0.8;
}

h3 {
	color: #426696;
	font-weight: 600;
	opacity: 0.8;
}
.show {
	display: block;
}
.hide {
	display: none;
}
.glass {
	background: white;
	min-height: 80vh;
	width: 70%;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
	z-index: 2;
	backdrop-filter: blur(2rem);
	display: flex;
}
.circle1,
.circle2 {
	background: white;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.3)
	);
	height: 20rem;
	width: 20rem;
	position: absolute;
	border-radius: 50%;
}
img {
	position: absolute;
	top: -32%;
	left: -30%;
	width: 70%;
	z-index: 2;
}

.circle1 {
	top: 5%;
	right: 15%;
}
.circle2 {
	bottom: 5%;
	left: 10%;
}
.dashboard {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
	border-radius: 2rem;
}

.link {
	display: flex;
	flex-direction: column;
	margin: 1rem 0rem;
	padding: 1rem 3rem;
	align-items: center;
	justify-content: center;
}
.my-info {
	position: absolute;
	bottom: 10%;
}
.my-desc {
	position: absolute;
	top: 10%;
}

.error {
	color: #ff3f80;
	font-size: 14px;
}
input:focus {
	font-size: 16px;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem;
}
.grids {
	display: grid;
	gap: 1rem;
	margin-bottom: 2.5rem;
	grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}
.games {
	flex: 2;
}
.games {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
}

.fa-primary,
.fa-secondary {
	transition: var(--transition-speed);
}

main {
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	background: var(--bg-primary);
	color: var(--text-primary);
	display: flex;
	align-items: center;
	justify-content: center;
}
.card {
	display: flex;
	background: linear-gradient(
		to left top,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.5)
	);
	border-radius: 1rem;

	padding: 0.5rem;
	box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
	justify-content: space-between;
	flex-direction: column;
}

/* Small screens */
@media screen and (max-width: 767px) {
	.games {
		flex: 1;
	}
	.my-info {
		position: relative;
		bottom: 0%;
	}
	.my-desc {
		position: absolute;
		padding: 1rem;
		font-weight: 700;
		top: 0%;
	}
	.games {
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* align-items: center; */
		width: 100%;
	}
	.card {
		display: flex;
		flex-direction: column;
		background: linear-gradient(
			to left top,
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.5)
		);
		border-radius: 0.5rem;
		margin: 1rem 0.4rem;
		padding: 0.4rem;
		box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
		justify-content: space-evenly;
	}
	.circle1,
	.circle2 {
		background: white;
		background: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.3)
		);
		height: 10rem;
		width: 10rem;
		position: absolute;
		border-radius: 50%;
	}
	.circle1 {
		top: 0%;
		right: 3%;
	}
	.circle2 {
		bottom: 0%;
		left: 0%;
	}
	main {
		min-height: 100vh;
		width: 100%;
		background: var(--bg-primary);
		display: flex;
		color: var(--text-primary);
		align-items: center;
		justify-content: center;
	}
	.glass {
		background: white;
		min-height: 95vh;
		width: 95%;
		background: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.3)
		);
		border-radius: 2rem;
		z-index: 2;
		backdrop-filter: blur(2rem);
		display: flex;
		flex-direction: column-reverse;
	}
	.dashboard {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 1rem;
		justify-content: center;
		text-align: center;
		background: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		);
		border-radius: 0;
	}
	form {
		margin-top: 3rem;
	}
	.bookmark {
		position: relative;
		bottom: 3%;
	}
}

.theme-icon {
	display: none;
}

.dark #darkIcon {
	display: block;
}

.light #lightIcon {
	display: block;
}

.solar #solarIcon {
	display: block;
}

.contents {
	max-width: 980px;
	margin: auto;
}
.left {
	text-align: left;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.center {
	text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.progress {
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
	width: 100%;
	height: 25%;
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
}
.progress::after {
	content: '';
	width: 100%;
	height: 100%;
	background: rgb(236, 236, 236);
	position: absolute;
	left: 60%;
}
.card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.percentage {
	font-weight: bold;
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.pro {
	background: linear-gradient(to right top, #65dfc9, #6cdbeb);
	border-radius: 2rem;
	color: white;
	padding: 1rem;
	position: relative;
}

.pro h2 {
	width: 40%;
	color: white;
	font-weight: 600;
}
form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

input {
	display: block;
	/* padding: 10px 6px; */
	box-sizing: border-box;
	border: none;
	color: #426696;
	width: 100%;
	/* background-color: transparent; */
	font-size: 16px !important;

	background: #ffffff02;
	/* margin-bottom: 10px; */
	border-bottom: 1px solid #426696;
}
button {
	font-style: normal;
	font-weight: 700;
	color: #426696;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 0.66rem;
	border: 1px solid #426696;
	border-radius: 50px;
	padding: 0.75rem 3rem;

	cursor: pointer;
	margin: 1rem 0 0 0;
}
